# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
bg1.jpg
lion2.jpg
lion11.jpg
lion13.jpg
lion14.jpg
lion15.jpg
lion16.jpg
lion12.html
index.html
nature1.html
natur1.jpg
logo2.jpeg
logo1.jpeg
lion78.jpg
lion77.jpeg
lion55.jpeg
lion45.jpg
lion34.jpg
lion18.avif
lion17.jpg
lion12_files
natur1_files